.searchPokemon{
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #8e8b8b;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-size: medium;
  margin-bottom: 10px;
}

.container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardPokemon{
  background-color: aquamarine;
  border: 2px solid #8e8b8b;
  margin: 3px;
}

.serachContainer{
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.ErrorBusqueda{
  margin-left: 20px;
  color: red;
}
