<nav class="sidebar">
  <a href="#" class="navigation__logo" routerLink="mostrar">
    <span>INFOPOKE</span>
  </a>
  <hr>

  <div class="navigation__menu">
    <ul>
      <li>
        <span class="navigation__menu__section__label">PREFERENCIAS DE USUARIO</span>
        <ul>
          <li class="navigation__menu__section" routerLink="crear">
            <a class="navigation__menu__buttons">
              <i class="fa-regular fa-star"></i>
              <span class="navigation__menu_button_label">Crear Pokemon</span>
            </a>
          </li>
          <!--li class="navigation__menu__section" routerLink="mostrar">
            <a class="navigation__menu__buttons">
              <i class="fa-solid fa-wrench"></i>
              <span class="navigation__menu_button_label">Mis Pokemones</span>
            </a>
          </li-->
        </ul>
      </li>
      <!--li>
        <span class="navigation__menu__section__label">HISTORIAL DE BUSQUEDA</span>
        <ul>
          <li class="navigation__menu__section">
            <a class="navigation__menu__buttons">
              <span>Picachu</span>
            </a>
          </li>
        </ul>
      <li-->
    </ul>
  </div>
</nav>
